@model PagedList.IPagedList<WebsiteMangaAnime.Models.Anime>
@using PagedList.Mvc
@using WebsiteMangaAnime.Models.DataSelection
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Аниме";
}
<div class="container">
    <div class="container">
        <div class="text-left">
            <h2>Аниме</h2>
            <p class="lead">
                Популярное аниме за все время
            </p>
        </div>
        <div class="container">
            <table class="table">
                <tr class="row">
                    <td class="col-md-6">
                        @using (Ajax.BeginForm("Search", "Anime", new AjaxOptions { HttpMethod = "Post" }))
                        {
                            <label><input type="text" name="searchValue" class="form-control" placeholder="Искать по продукту" /></label>
                            <label><input type="submit" class="btn btn-primary" value="Поиск" /></label>
                        }
                    </td>
                    <td class="col-md-6">
                        @using (Ajax.BeginForm("Filter", "Anime", new AjaxOptions { HttpMethod = "Post" }))
                        {
                            <label>@Html.DropDownList("filter",
                                EnumHelper.GetSelectList(typeof(FilterType)),
                                new { @class = "form-control" })</label>
                            <label><input type="submit" class="btn btn-primary" value="Поиск" /></label>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="col-md-4 text-center">
            @foreach (var anime in Model)
            {
                <input type="image" onclick="location.href='@Url.Action("GetAnime", "Anime", new { id = anime.Id })'"
                       src="@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]@anime.ImageLink" />
                <p>
                    <b>@anime.Name</b>
                </p>
                <p>
                    <b>Рейтинг : @anime.Rating</b>
                </p>
            }
        </div>
    </div>
    @*TODO*@
    @*<div class="container panel-footer">
        <p>Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</p>
        <p>@Html.PagedListPager(Model, page => Url.Action("BestAnime", new { page }))</p>
    </div>*@
</div>