@model WebsiteMangaAnime.Models.Anime

@{
    ViewBag.Title = $"{Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <h3 class="list-group-item-text">@Model.Name</h3>
            <h4 class="list-group-item-text">@Html.DisplayNameFor(x => x.RecommendationsNumber) : @Html.DisplayTextFor(x => x.RecommendationsNumber)</h4>
        </li>
    </ul>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Rating)</b> : @Html.DisplayTextFor(x => x.Rating)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Status)</b> : @Html.DisplayTextFor(x => x.Status)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Year)</b> : @Html.DisplayTextFor(x => x.Year)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Director)</b> : @Html.DisplayTextFor(x => x.Director)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Studio)</b> : @Html.DisplayTextFor(x => x.Studio)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.AgeRating)</b> : @Html.DisplayTextFor(x => x.AgeRating)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Season)</b> : @Html.DisplayTextFor(x => x.Season)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Series)</b> : @Html.DisplayTextFor(x => x.Series)
                </p>
            </li>
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.Description)</b> : @Html.DisplayTextFor(x => x.Description)
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <img class="img-thumbnail" src="@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]@Model.ImageLink" />
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
                <p class="list-group-item-text">
                    <b>@Html.DisplayNameFor(x => x.VideoLink)</b>
                </p>
            </li>
            <li class="list-group-item">
                <iframe width="699"
                        height="393"
                        src="@System.Configuration.ConfigurationManager.AppSettings["WebPath"]@Model.VideoLink"
                        frameborder="0">
                </iframe>
            </li>
        </ul>
    </div>
</div>