@model PagedList.IPagedList<WebsiteMangaAnime.Models.Manga>
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Манга";
}
<div class="container">
    <div class="container">
        <div class="text-left">
            <h2>Манга</h2>
            <p class="lead">
                Популярная манга за все время
            </p>
        </div>
        <div class="container">
            <div class="input-lg">
                @using (Html.BeginForm("Search", "Manga", FormMethod.Post))
                {
                    <label><input type="text" name="srcvl" class="form-control" placeholder="Искать по манге" /></label>
                    <label><input type="submit" class="btn btn-primary" value="Поиск" /></label>
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="col-md-4 text-center">
            @foreach (var manga in Model)
            {
                <input type="image" onclick="location.href='@Url.Action("GetManga", "Manga", new { id = manga.Id })'"
                       src="@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]@manga.ImageLink" />
                <p>
                    <b>@manga.Name</b>
                </p>
                <p>
                    <b>Рейтинг : @manga.Rating</b>
                </p>
            }
        </div>
    </div>
    <div class="container panel-footer">
        <p>Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</p>
        <p>@Html.PagedListPager(Model, page => Url.Action("BestAnime", new { page }))</p>
    </div>
</div>